<div class="card-group">
    <div class="card">
      <img src="../../../assets/imagenesCard/dark-souls-remastered-cover.jpg" class="card-img-top" alt="..." height="250px" width="150px">
      <div class="card-body">
        <h5 class="card-title">Dark Souls Remastered</h5>
        <h6>ARS$ 1.200,00</h6>
        <h6>ACERCA DE ESTE JUEGO</h6>
        <p class="card-text">Entonces llegó el Fuego. Vuelve a disfrutar del aclamado juego que definió el género con el que empezó todo. Gracias a una magnífica remasterización, podrás regresar a Lordran con unos impresionantes detalles en alta definición y a 60 fps.</p>
        <button type="button" class="btn btn-success">Comprar</button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/imagenesCard/red-dead-redemption2.jpg" class="card-img-top" alt="..." height="250px" width="150px">
      <div class="card-body">
        <h5 class="card-title">Red Dead Redemption II</h5>
        <h6>ARS$ 2.499,00</h6>
        <h6>ACERCA DE ESTE JUEGO</h6>
        <p class="card-text">América, 1899.

          Arthur Morgan y la banda de Van der Linde son forajidos en busca y captura. Mientras los agentes federales y los mejores cazarrecompensas de la nación les pisan los talones, la banda deberá abrirse camino por el abrupto territorio del corazón de América y sobrevivir a base de robos y peleas. Arthur deberá elegir entre sus propios ideales y la lealtad a la banda que lo vio crecer.</p>
        <button type="button" class="btn btn-success">Comprar</button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/imagenesCard/battlefield.jpg" class="card-img-top" alt="..." height="250px" width="150px">
      <div class="card-body">
        <h5 class="card-title">Battlefield 2042</h5>
        <h6>ARS$ 5.499,00</h6>
        <h6>ACERCA DE ESTE JUEGO</h6>
        <p class="card-text">Battlefield™ 2042 es un shooter en primera persona que marca el regreso a la emblemática guerra total de la franquicia. Adáptate y sobrevive en un mundo en un futuro cercano transformado por el desorden. Forma tu patrulla y utiliza un arsenal de vanguardia en campos de batalla en constante cambio con 128 jugadores, una escala sin precedentes y una destrucción épica.</p>
        <button type="button" class="btn btn-success">Comprar</button>
      </div>
    </div>
  </div>